/* import comic neue font from google server*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    max-width: 60em;
    margin: 0 auto 0 auto;
    background-color: gray;
    font-family: 'Comic Neue', sans-serif;
}

table {
    background-image: url("../images/eye.png");
    /* only one image to background */
    background-repeat: no-repeat;
    /* background image to center */
    background-position: center;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 1em;
}

table p{
    background-color: white;
}

/*
 * copied from: https://www.w3schools.com/CSS/css_link.asp
 * this is because of "Very low contrast", if applied background color grey and check assessibilty without a styles
 */
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: green;
    color: white;
}